{% extends 'base.html.twig' %}

{% block title %} Symfoflegend | Accueil {% endblock %}

{% block stylesheets %}
<style>
p {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
    margin-bottom: 10px;
}
</style>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto mt-4">
        <img class="w-100" src="http://download.gamezone.com/uploads/image/data/871229/league-of-legends-logo.jpg" alt="league_logo">
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto mt-4">
        <hr>
        <p class="mt-4">League of Legends (abrégé LoL) est un jeu vidéo sorti en 2009 de type arène de bataille en ligne, free-to-play, développé et édité par Riot Games sur Windows et Mac OS.</p>
        <p>Le mode principal du jeu voit s'affronter deux équipes de 5 joueurs en temps réel dans des parties d'une durée d'environ une demi-heure, chaque équipe occupant et défendant sa propre base sur la carte. Chacun des dix joueurs contrôle un personnage à part entière parmi les plus de 150 qui sont proposés.</p>
        <p >Ces personnages, connus sous le nom de « champions » dans le jeu, disposent de compétences uniques et d'un style de jeu qui leur est propre. Ils gagnent en puissance au fil de la partie en amassant des points d'expérience ainsi qu'en achetant des objets, dans le but de battre l'équipe adverse.</p>
        <p>L'objectif d'une partie est de détruire le « Nexus » ennemi, une large structure située au centre de chaque base. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-2 mt-5 mb-5">
        <img class="w-100" src="https://www.scholarlygamers.com/wp-content/uploads/2017/04/SR.jpg" alt="map">
        <hr>
        <h2 class="text-center mt-4 mb-4">Carte du jeu</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto mt-5 mb-4">
        <img class="w-100" src="https://logodownload.org/wp-content/uploads/2019/12/riot-games-logo-2048x652.png" alt="riot_logo">
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto mt-5 mb-5">
        <hr>
        <p class="mt-4">Riot Games est une entreprise américaine d'édition et de développement de jeux vidéo fondée en 2006 et située à Los Angeles, en Californie. </p>
        <p>Elle organise aussi plusieurs tournois de sport électronique.</p>
        <p>La société n'a eu qu’un seul jeu publié à son actif durant plus de dix ans, League of Legends, sorti en 2009 et qui lui confère toute sa notoriété au vu de la popularité qu'il rencontre et maintient à travers le temps.</p>
        <p>Au cours de l'année 2020, cependant, l'entreprise publie Legends of Runeterra, Valorant et League of Legends: Wild Rift. </p>
    </div>
</div>

{% endblock %}
