{% extends 'base.html.twig' %}

{% block title %} Symfoflegend | Liste des champions {% endblock %}

{% block stylesheets %}
<style>
.overflow {
    position: relative;
    overflow: hidden;
}

.zoom img {
    transition: all 0.2s linear;
}

.hoverCard {
    cursor: pointer;
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
{% endblock %}

{% block body %}

<div class="row d-flex align-content-stretch mt-5 mb-5">
    {% for champ in champions %}
    <div class="col-sm-6 col-md-3 p-4">
        <a href="{{ path('app_champion', { 'name' : champ.name }) }}">
            <div class="card overflow h-100 zoom hoverCard">
                <h3 class="card-header">{{ champ.name }}</h3>
                <div class="card-body">
                    <h6 class="card-title">{{ champ.title }}</h6>
                </div>
                <img src="{{ champ.image }}" alt="image_champion" width="100%" height="100%">
            </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
